<%=  bootstrap_form_for([:sistema, @product]) do |f|  %>

<% if @product.errors.any? %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@product.errors.count, "erro") %> no fomulário:</h4>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-3">
    <%= image_tag(@product.image.url(:small),:class => "form-logo") %> 
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4">
    <p class="form-control-static"><%= f.file_field :image, :class=> "required" %></p>
    <p class="help-block"> Arquivos suportados JPG,JPGE e PNG.</p>
  </div>
</div>


<div class="field">
  <%= f.collection_select :market_id, Market.joins(:user).where(markets: { user_id: current_user }), :id,:name, { prompt: "Selecione "},:class => "form-control required" %>
</div>

<div class="field">
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.text_area :description %>
</div>

<div class="field">
   <%= f.text_field :price, data: { role: 'money', a_sep: '.', a_dec: ',' },prepend: "R$" %>
</div>


<div class="pull-right">
  <%= f.submit "Salvar",:class => "btn btn-primary btn-lg" %>
</div>


<% end %>
