<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @market.cnpj %>
</p>

<p>
  <strong>Address:</strong>
  <%= @market.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @market.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @market.longitude %>
</p>

<%= link_to 'Edit', edit_market_path(@market),data: {no_turbolink: true} %> |
<%= link_to 'Voltar', :back %>
